* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

.carrito-img {
    width: 10rem;
    border-radius: 0.4rem;
}

.eliminarProducto {
    cursor: pointer;
}

.restar {
    cursor: pointer
}

.sumar {
    cursor: pointer
}

.continuarCompra {
    margin-top: 2em;
    width: 17em;
    height: 2.3em;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 20px;
}


.col-pasos {
    padding: 0;
}

.pasos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 6rem 0 4rem 0;
    gap: 5rem;
    row-gap: 5rem;
    column-gap: 5rem;
    font-size: 0.9em;
    align-items: center;
    border-radius: 3rem;
    background: #f8f9fa;
    height: 30em;
    padding-left: 0;
    margin-left: 0;
}

.pasos div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pasos-numerito {
    background: white;
    width: 3rem;
    height: 3rem;
    border-radius: 30%;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
} 

.box {
    transition: all ease 0.3s
}

.box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* overflow: hidden;
    position: absolute; */

}

.slide-img {
    height: 450px;
    /* position: relative; */
}

/* .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
} */

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.card-nombre {
    color: #222222;
    margin: 5px 0px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.price {
    color: #333333;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.btnComprar {
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.btnComprar:hover {
    transition: all ease 0.3s;
}

/* .overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}


.overlay {
    visibility: hidden;
}

.slide-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.buy-btn:hover {
    color: #ffffff;
    background-color: #f15fa3;
    transition: all ease 0.3s;
} */

.verCarrito {
    font-size: 1.5em;
    font-style: normal;

}

.verInicio {
    font-size: 1.5em;
    font-style: normal; 

}

.navbar-logo {
    font-size: 1.5em;
}


.banner {
    align-content: center;
    justify-content: center;
    margin-top: 3em;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../img/Banner\ web\ horizontal\ SALE\ indumentaria\ con\ fotografía\ llamativo\ amarillo\ y\ negro\ \(1\).png);
    background-position: center;
    background-attachment: fixed;
    height: 100vh
}

.bannerContainer {
    text-align: center;
    justify-content: center;
    padding: 18% 0;
}

.bannerContainer h1 {
    color: whitesmoke;
    font-size: 5em;
    font-size: bold;
    text-shadow: 1px 1px 3px black;
}

.bannerContainer p {
    color: whitesmoke;
    font-size: 1.6em;
    opacity: 0.8;
    text-shadow: 1px 1px 3px black;

}

  
.acordeon {
    width: 90%;
    /* max-width: 70rem; */
    padding: 2rem;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .acordeon .bloque {
    margin: 0 0 1rem;
    padding: 1rem;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .acordeon .opcionDeEntrega {
    margin: 0 0 1rem;
    padding: 1rem;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    cursor: pointer;
  }
  .acordeon .opcionDeEntrega:hover {
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);
    -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
            box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
  }
  
  .acordeon .contenido {
    height: 0;
    padding: 0rem;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .acordeon .bloque.activo .contenido {
    height: 10rem;
  }

 #seccionUno {
    display: none;
 }

 #seccionDos {
    display: none;
 }

 #seccionTres {
    display: none;
 }

#pasos {
    display: none;
}

#contenedorCarrito {
    visibility: hidden;
}

.disabled {
    opacity: 50%;
}

body {
    height: 100vh;
}

footer {
    background-color: #f8f9fa;

}

.main-carrito {
    margin-top: 5.5em;
    width: 100%;
}
